{
  "openapi": "3.1.0",
  "info": {
    "title": "Sync2Books Compliance API — eTIMS (Kenya)",
    "version": "1.0.0",
    "description": "Register items, manage stock, and issue KRA-signed sales and credit notes through KRA eTIMS (OSCU) — without building against KRA yourself.\n\nThis is a **separate product** from the [Sync2Books Accounting API](/accounting-api-overview). Connect a company to eTIMS in the dashboard first (see [Connecting a Company](/etims-provisioning)), then use this API for day-to-day catalog, stock, and sales operations.\n\nAll endpoints are scoped to a company: `/companies/{companyId}/integrations/etims/…`. Most write endpoints are **asynchronous** — they return a `syncBatchId` immediately; confirm the outcome via [Tracking Results](/etims-tracking-results)."
  },
  "servers": [
    { "url": "https://api.sync2books.com", "description": "Production" },
    { "url": "https://sandbox-api.sync2books.com", "description": "Sandbox (coming soon)" }
  ],
  "security": [{ "ApiKeyAuth": [] }],
  "tags": [
    { "name": "Catalog", "description": "Register products/services and sync them to eTIMS." },
    { "name": "Sales & Credit Notes", "description": "Issue KRA-signed sales and reverse them." },
    { "name": "Stock", "description": "Adjust and transfer inventory for stock-tracked items." },
    { "name": "Connecting a company", "description": "Programmatic onboarding — normally done in the dashboard instead." },
    { "name": "Branches", "description": "A company's OSCU devices/locations." }
  ],
  "components": {
    "parameters": {
      "CompanyId": {
        "name": "companyId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "The Sync2Books company id."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your application's API key (`sk_development_…` or `sk_production_…`). An optional `X-Signature` / `X-Timestamp` HMAC pair may additionally be sent for stronger security — see [Authentication](/concepts/authentication)."
      }
    },
    "schemas": {
      "SyncBatchAccepted": {
        "type": "object",
        "description": "Returned by asynchronous write operations. Poll or use webhooks to confirm the outcome.",
        "properties": {
          "syncBatchId": { "type": "string", "format": "uuid" }
        },
        "required": ["syncBatchId"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": { "type": "integer", "example": 400 },
          "message": { "type": "string", "example": "Validation failed" },
          "error": { "type": "string", "example": "Bad Request" }
        }
      },
      "TaxCategory": {
        "type": "string",
        "enum": ["VAT_STANDARD", "VAT_ZERO", "EXEMPT", "OTHER"],
        "description": "Sync2Books maps this to the correct KRA tax type automatically. `VAT_STANDARD`=16% (KRA type B), `VAT_ZERO`=0% (C), `EXEMPT`=A, `OTHER`=D. See [Codes & Values](/etims-codes#tax-category)."
      },
      "ItemType": {
        "type": "string",
        "enum": ["GOODS", "SERVICE"],
        "description": "`GOODS` are stock-tracked (sales deduct inventory); `SERVICE` items are non-stock. See [Goods vs Services](/etims-catalog#goods-vs-services-stock-vs-non-stock)."
      },
      "RegisterItemRequest": {
        "type": "object",
        "required": ["externalId", "name", "itemType", "taxCategory"],
        "properties": {
          "externalId": { "type": "string", "description": "Your own identifier for this item." },
          "name": { "type": "string" },
          "itemType": { "$ref": "#/components/schemas/ItemType" },
          "taxCategory": { "$ref": "#/components/schemas/TaxCategory" },
          "classificationCode": {
            "type": "string",
            "description": "KRA item classification (`itemClsCd`), e.g. `14111400`. Effectively required — registration fails with `Missing classification mapping` if omitted and no default rule is configured for your account. See [Codes & Values](/etims-codes#classification-code-the-one-you-must-look-up)."
          },
          "unitCode": { "type": "string", "description": "KRA quantity unit code, e.g. `U`, `KG`, `LTR`. Resolved automatically from `internalUnit` if omitted." },
          "packagingUnitCode": { "type": "string", "description": "KRA packaging unit code, e.g. `NT`, `BL`, `BX`. Resolved automatically from `internalUnit` if omitted." },
          "sku": { "type": "string" },
          "internalUnit": { "type": "string", "description": "Convenience field — one of `EA`/`EACH`/`PCS`, `KG`/`KILOGRAM`, `L`/`LTR`/`LITRE`. Resolves `unitCode` and `packagingUnitCode` for you. See [Codes & Values](/etims-codes#units--packaging)." },
          "taxTyCd": { "type": "string", "description": "Explicit KRA tax type code — set this instead of `taxCategory` only for a rate the enum doesn't cover (e.g. VAT 8%)." },
          "productTypeCode": { "type": "string", "enum": ["1", "2", "3"], "description": "KRA product type. Defaults from `itemType` (`GOODS`→`2`, `SERVICE`→`3`); set explicitly for `1` (Raw Material)." }
        }
      },
      "CatalogItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Sync2Books item id — use this (not `externalId`) in Sales/Stock line items." },
          "externalId": { "type": "string" },
          "name": { "type": "string" },
          "itemType": { "$ref": "#/components/schemas/ItemType" },
          "taxCategory": { "$ref": "#/components/schemas/TaxCategory" },
          "registrationStatus": { "type": "string", "enum": ["PENDING", "REGISTERED", "FAILED"] },
          "lastSyncResultMsg": { "type": ["string", "null"] },
          "lastSyncResultCd": { "type": ["string", "null"] }
        }
      },
      "SyncCatalogItemsRequest": {
        "type": "object",
        "required": ["branchId"],
        "properties": {
          "branchId": { "type": "string", "description": "Branch **key** (e.g. `HQ`) — not the branch UUID used by the Branches endpoints." },
          "itemIds": { "type": "array", "items": { "type": "string" }, "description": "Sync2Books item ids to sync. Omit to sync all eligible items." },
          "onlyPending": { "type": "boolean", "default": true, "description": "Only sync items not yet `REGISTERED`." },
          "force": { "type": "boolean", "default": false }
        }
      },
      "SaleLineItem": {
        "type": "object",
        "required": ["id", "quantity", "unitPrice", "taxCategory", "taxAmount"],
        "properties": {
          "id": { "type": "string", "description": "The item `id` returned by Sync2Books (not your `externalId`)." },
          "quantity": { "type": "number" },
          "unitPrice": { "type": "number" },
          "taxCategory": { "$ref": "#/components/schemas/TaxCategory" },
          "taxAmount": { "type": "number" },
          "discountRate": { "type": "number" },
          "discountAmount": { "type": "number" },
          "itemDescription": { "type": "string" }
        }
      },
      "CreateSaleRequest": {
        "type": "object",
        "required": ["branchId", "saleDate", "traderInvoiceNumber", "receiptTypeCode", "paymentTypeCode", "invoiceStatusCode", "items"],
        "properties": {
          "branchId": { "type": "string", "description": "Branch key (e.g. `HQ`)." },
          "saleDate": { "type": "string", "format": "date", "example": "2026-08-27" },
          "traderInvoiceNumber": { "type": "string" },
          "receiptTypeCode": { "type": "string", "example": "S", "description": "`S` = normal sale. See [Codes & Values](/etims-codes#other-sale-codes)." },
          "paymentTypeCode": { "type": "string", "example": "01", "description": "See [Codes & Values](/etims-codes#payment-type-sales)." },
          "invoiceStatusCode": { "type": "string", "example": "02" },
          "customerTin": { "type": "string" },
          "customerName": { "type": "string" },
          "items": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/SaleLineItem" } }
        }
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "branchId": { "type": "string" },
          "saleDate": { "type": "string", "format": "date" },
          "traderInvoiceNumber": { "type": "string" },
          "status": { "type": "string", "enum": ["PENDING", "ACCEPTED", "FAILED"] },
          "etrNumber": { "type": ["string", "null"], "description": "The KRA-signed receipt number, once accepted." }
        }
      },
      "ExpressCreditNoteRequest": {
        "type": "object",
        "required": ["branchId", "saleId", "traderInvoiceNumber", "returnDate"],
        "properties": {
          "branchId": { "type": "string" },
          "saleId": { "type": "string", "description": "The accepted sale's `id`." },
          "traderInvoiceNumber": { "type": "string" },
          "returnDate": { "type": "string", "format": "date" },
          "paymentTypeCode": { "type": "string" },
          "invoiceStatusCode": { "type": "string" }
        }
      },
      "StockAdjustRequest": {
        "type": "object",
        "required": ["itemId", "branchId", "quantity", "action"],
        "properties": {
          "itemId": { "type": "string" },
          "branchId": { "type": "string" },
          "quantity": { "type": "number" },
          "action": { "type": "string", "enum": ["ADD", "DEDUCT"] },
          "movementTypeCode": { "type": "string" },
          "referenceId": { "type": "string" }
        }
      },
      "StockTransferRequest": {
        "type": "object",
        "required": ["itemId", "fromBranchId", "receivingItemId", "toBranchId", "quantity"],
        "properties": {
          "itemId": { "type": "string" },
          "fromBranchId": { "type": "string" },
          "receivingItemId": { "type": "string" },
          "toBranchId": { "type": "string" },
          "quantity": { "type": "number" },
          "referenceId": { "type": "string" }
        }
      },
      "ProvisionRequest": {
        "type": "object",
        "required": ["kraPin", "environment", "dvcSrlNo"],
        "properties": {
          "kraPin": { "type": "string", "minLength": 3 },
          "environment": { "type": "string", "enum": ["SANDBOX", "PRODUCTION"] },
          "dvcSrlNo": { "type": "string", "description": "OSCU device serial number issued by KRA." },
          "displayName": { "type": "string" },
          "sync2booksBranchKey": { "type": "string" },
          "kraBhfId": { "type": "string" }
        }
      },
      "ProvisionResponse": {
        "type": "object",
        "properties": {
          "connectionId": { "type": "string" },
          "complianceTenantId": { "type": "string" },
          "defaultBranchId": { "type": "string" },
          "branchId": { "type": "string", "description": "Internal id — not the `branchId` key used in Catalog/Sales/Stock (that's `sync2booksBranchKey`, or `kraBhfId` if unset)." },
          "environment": { "type": "string", "enum": ["SANDBOX", "PRODUCTION"] },
          "initialized": { "type": "boolean" }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "Branch UUID — used as `{branchId}` in this Branches section only." },
          "branchKey": { "type": "string", "description": "The key used as `branchId` in Catalog/Sales/Stock requests." },
          "kraBhfId": { "type": "string" },
          "dvcSrlNo": { "type": "string" },
          "displayName": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "active", "failed"] },
          "isHeadquarters": { "type": "boolean" }
        }
      },
      "AddBranchRequest": {
        "type": "object",
        "required": ["kraBhfId", "dvcSrlNo"],
        "properties": {
          "kraBhfId": { "type": "string" },
          "dvcSrlNo": { "type": "string" },
          "displayName": { "type": "string" },
          "branchKey": { "type": "string", "description": "Defaults to `kraBhfId`; immutable once set." }
        }
      }
    }
  },
  "paths": {
    "/companies/{companyId}/integrations/etims/catalog/items": {
      "post": {
        "tags": ["Catalog"],
        "summary": "Register item",
        "description": "Registers a product or service in your catalog. `itemType` determines stock behavior. Returns immediately; the item is synced to eTIMS in the background — see [Sync items to eTIMS](#/paths/~1companies~1{companyId}~1integrations~1etims~1catalog~1items~1sync/post).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterItemRequest" } } } },
        "responses": {
          "201": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } },
          "400": { "description": "Validation error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "tags": ["Catalog"],
        "summary": "List items",
        "description": "Returns your catalog — each item includes its Sync2Books `id`, your `externalId`, and its registration status.",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CatalogItem" } } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/catalog/items/sync": {
      "post": {
        "tags": ["Catalog"],
        "summary": "Sync items to eTIMS",
        "description": "Submits pending catalog items to KRA. Details: [Catalog](/etims-catalog).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncCatalogItemsRequest" } } } },
        "responses": {
          "201": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/sales": {
      "post": {
        "tags": ["Sales & Credit Notes"],
        "summary": "Create sale",
        "description": "Submits an invoice to eTIMS and, once accepted, yields a KRA-signed receipt (ETR number). Details: [Sales & Credit Notes](/etims-sales).",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "submit", "in": "query", "schema": { "type": "boolean", "default": true }, "description": "Set `false` to save without submitting to KRA yet." }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateSaleRequest" } } } },
        "responses": {
          "201": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } }
        }
      },
      "get": {
        "tags": ["Sales & Credit Notes"],
        "summary": "List sales",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "before", "in": "query", "schema": { "type": "string" } },
          { "name": "after", "in": "query", "schema": { "type": "string" } },
          { "name": "startDate", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "endDate", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "pageSize", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Sale" } } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/sales/{saleId}": {
      "get": {
        "tags": ["Sales & Credit Notes"],
        "summary": "Get sale",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "saleId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The sale's `id`." }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sale" } } } },
          "404": { "description": "Not found" }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/sales/credit-notes/express": {
      "post": {
        "tags": ["Sales & Credit Notes"],
        "summary": "Express credit note",
        "description": "Reverses an accepted sale in full. Details: [Sales & Credit Notes](/etims-sales).",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "submit", "in": "query", "schema": { "type": "boolean", "default": true } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExpressCreditNoteRequest" } } } },
        "responses": {
          "201": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/stock/adjust": {
      "put": {
        "tags": ["Stock"],
        "summary": "Adjust stock",
        "description": "Details: [Stock](/etims-stock).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StockAdjustRequest" } } } },
        "responses": {
          "200": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/stock/transfer": {
      "post": {
        "tags": ["Stock"],
        "summary": "Transfer stock",
        "description": "Details: [Stock](/etims-stock).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StockTransferRequest" } } } },
        "responses": {
          "201": { "description": "Accepted", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncBatchAccepted" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/provision": {
      "post": {
        "tags": ["Connecting a company"],
        "summary": "Connect a company (advanced)",
        "description": "Most integrations connect companies in the **dashboard** — use this endpoint only for programmatic onboarding. Synchronous. Returns `409` if the company is already connected. Details: [Connecting a Company](/etims-provisioning).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionRequest" } } } },
        "responses": {
          "200": { "description": "Connected", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProvisionResponse" } } } },
          "409": { "description": "Already connected", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/branches": {
      "get": {
        "tags": ["Branches"],
        "summary": "List branches",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Branch" } } } } }
        }
      },
      "post": {
        "tags": ["Branches"],
        "summary": "Add a branch",
        "description": "`kraPin`/`environment` are inherited from the Headquarters branch. Returns `409` if `kraBhfId` already exists for the company. Details: [Branches](/etims-branches).",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AddBranchRequest" } } } },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Branch" } } } },
          "409": { "description": "kraBhfId already exists", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/branches/{branchId}/initialize": {
      "post": {
        "tags": ["Branches"],
        "summary": "Re-initialize a branch",
        "description": "Retries OSCU device initialization for a `failed` branch.",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "branchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Branch **UUID** (the `id` field on a branch object) — not the branch key used in Catalog/Sales/Stock." }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Branch" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/branches/{branchId}": {
      "delete": {
        "tags": ["Branches"],
        "summary": "Remove a branch",
        "description": "Returns `400` if this is the Headquarters branch.",
        "parameters": [
          { "$ref": "#/components/parameters/CompanyId" },
          { "name": "branchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "type": "object", "properties": { "deleted": { "type": "boolean" } } } } } },
          "400": { "description": "Cannot remove Headquarters branch", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/companies/{companyId}/integrations/etims/branches/reconcile-kra-pin": {
      "post": {
        "tags": ["Branches"],
        "summary": "Reconcile KRA PIN",
        "description": "One-time backfill fix; no-op if already set.",
        "parameters": [{ "$ref": "#/components/parameters/CompanyId" }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "reconciled": { "type": "boolean" }, "kraPin": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
