{
  "openapi": "3.1.0",
  "info": {
    "title": "Sync2Books Compliance API (eTIMS)",
    "version": "1.0.0",
    "description": "Register items, issue sales and credit notes, record stock and read supplier invoices for a Kenyan business, with every fiscal document signed by KRA eTIMS.\n\nAuthenticate with an API key from the compliance dashboard, sent in the `x-api-key` header or as a bearer token. A `cmp_sk_test_...` key acts on sandbox businesses and a `cmp_sk_live_...` key on production ones; both use the same base URL.\n\nNew here? Start with the [eTIMS quickstart](/etims-quickstart). The conventions every endpoint shares are in [Authentication & API keys](/etims-authentication), [Errors & Troubleshooting](/etims-errors), [Idempotency](/etims-idempotency) and [Rate limits](/etims-rate-limits).\n\nThis is a separate product from the [Accounting API](/api-reference), with its own keys."
  },
  "servers": [
    {
      "url": "https://sync2books-compliance-api.apps.kintro.money",
      "description": "Sync2Books Compliance API. The key you use decides whether a call reaches the KRA sandbox or production."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Check what a key can do."
    },
    {
      "name": "Businesses",
      "description": "The businesses and branches a key can act for."
    },
    {
      "name": "Items",
      "description": "Create items and register them with KRA. An item must be registered before it can be sold."
    },
    {
      "name": "Stock",
      "description": "Record stock movements and report them to KRA."
    },
    {
      "name": "Sales",
      "description": "Issue sales, read them back and download KRA-signed receipts."
    },
    {
      "name": "Credit notes",
      "description": "Reverse an accepted sale in full."
    },
    {
      "name": "Purchases",
      "description": "Supplier invoices KRA holds against the business."
    },
    {
      "name": "Lookups",
      "description": "KRA code lists and item classifications."
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "getMe",
        "summary": "Check your key",
        "description": "Returns the application, environment and permissions behind the key you used. This is the first call to make: it confirms the key works and tells you what it may do.\n\nNeeds no scope: any valid key can call it.",
        "responses": {
          "200": {
            "description": "What the key can do.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "applicationId": {
                          "type": "string"
                        },
                        "environment": {
                          "$ref": "#/components/schemas/Environment"
                        },
                        "businessId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The business a business-bound key is limited to. `null` for an organisation-wide key."
                        },
                        "scope": {
                          "type": "string",
                          "enum": [
                            "business",
                            "organization"
                          ]
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "rateLimitPerMin": {
                          "type": "integer",
                          "description": "Requests per minute your application may make."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "applicationId": "app_example_1",
                    "environment": "SANDBOX",
                    "businessId": "biz_example_1",
                    "scope": "business",
                    "scopes": [
                      "catalog:read",
                      "catalog:write",
                      "sales:read",
                      "sales:write",
                      "stock:write",
                      "purchases:read",
                      "lookups:read"
                    ],
                    "rateLimitPerMin": 120
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/businesses": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "listBusinesses",
        "summary": "List businesses",
        "description": "Lists the businesses this key can act for, in the key's own environment. A business-bound key sees only its business. Use this to find the `businessId` an organisation-wide key must send.\n\nRequired scope: `lookups:read`.",
        "responses": {
          "200": {
            "description": "The businesses.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "businesses": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Business"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "businesses": [
                      {
                        "id": "biz_example_1",
                        "displayName": "Example Trading Ltd",
                        "environment": "SANDBOX"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/businesses/{businessId}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "getBusiness",
        "summary": "Get a business",
        "description": "Returns one business with its branches.\n\nRequired scope: `lookups:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BusinessPath"
          }
        ],
        "responses": {
          "200": {
            "description": "The business.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "business": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/Business"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "branches": {
                                  "type": "array",
                                  "items": {
                                    "$ref": "#/components/schemas/Branch"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "business": {
                      "id": "biz_example_1",
                      "displayName": "Example Trading Ltd",
                      "environment": "SANDBOX",
                      "branches": [
                        {
                          "id": "br_example_1",
                          "kraBhfId": "00",
                          "displayName": "Head Office",
                          "tradeAddressLine1": "1 Example Road",
                          "tradeCity": "Nairobi"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/businesses/{businessId}/branches": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "listBranches",
        "summary": "List branches",
        "description": "Lists the branches of a business. Branches are created in the compliance dashboard; this endpoint only reads them.\n\nRequired scope: `lookups:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BusinessPath"
          }
        ],
        "responses": {
          "200": {
            "description": "The branches.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "branches": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Branch"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "branches": [
                      {
                        "id": "br_example_1",
                        "kraBhfId": "00",
                        "displayName": "Head Office",
                        "tradeAddressLine1": "1 Example Road",
                        "tradeCity": "Nairobi"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/items": {
      "post": {
        "tags": [
          "Items"
        ],
        "operationId": "createOrUpdateItem",
        "summary": "Create or update an item",
        "description": "Creates an item, or updates the one with the same `externalId`. The item starts as `PENDING`: it is **not** registered with KRA until you call `POST /v1/items/{id}/register`. The call returns `201` for both a create and an update.\n\nRequired scope: `catalog:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemRequest"
              },
              "examples": {
                "goods": {
                  "summary": "A stocked product",
                  "value": {
                    "externalId": "SKU-1042",
                    "name": "500ml Cooking Oil",
                    "sku": "COOK-OIL-500",
                    "taxCategory": "VAT_STANDARD",
                    "productTypeCode": "2",
                    "classificationCode": "50150000",
                    "unitCode": "U",
                    "packagingUnitCode": "NT",
                    "unitPrice": 3500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The item as stored.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/Item"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "item": {
                      "id": "itm_example_1",
                      "externalId": "SKU-1042",
                      "name": "500ml Cooking Oil",
                      "sku": "COOK-OIL-500",
                      "taxCategory": "VAT_STANDARD",
                      "taxTypeCode": "B",
                      "productTypeCode": "2",
                      "classificationCode": "50150000",
                      "unitCode": "U",
                      "packagingUnitCode": "NT",
                      "unitPrice": 3500,
                      "stockTracked": true,
                      "registrationStatus": "PENDING",
                      "needs": {
                        "productType": false,
                        "classificationMapping": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Items"
        ],
        "operationId": "listItems",
        "summary": "List items",
        "description": "Lists every item of the business that has not been deleted. The list is not paginated.\n\nRequired scope: `catalog:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The items.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Item"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "items": [
                      {
                        "id": "itm_example_1",
                        "externalId": "SKU-1042",
                        "name": "500ml Cooking Oil",
                        "sku": "COOK-OIL-500",
                        "taxCategory": "VAT_STANDARD",
                        "taxTypeCode": "B",
                        "productTypeCode": "2",
                        "classificationCode": "50150000",
                        "unitCode": "U",
                        "packagingUnitCode": "NT",
                        "unitPrice": 3500,
                        "stockTracked": true,
                        "registrationStatus": "PENDING",
                        "needs": {
                          "productType": false,
                          "classificationMapping": false
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "operationId": "getItem",
        "summary": "Get an item",
        "description": "Returns one item. An unknown id, an id of another business and a deleted item all answer `404`.\n\nRequired scope: `catalog:read`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The item id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The item.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/Item"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "item": {
                      "id": "itm_example_1",
                      "externalId": "SKU-1042",
                      "name": "500ml Cooking Oil",
                      "sku": "COOK-OIL-500",
                      "taxCategory": "VAT_STANDARD",
                      "taxTypeCode": "B",
                      "productTypeCode": "2",
                      "classificationCode": "50150000",
                      "unitCode": "U",
                      "packagingUnitCode": "NT",
                      "unitPrice": 3500,
                      "stockTracked": true,
                      "registrationStatus": "PENDING",
                      "needs": {
                        "productType": false,
                        "classificationMapping": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/items/{id}/register": {
      "post": {
        "tags": [
          "Items"
        ],
        "operationId": "registerItem",
        "summary": "Register an item with KRA",
        "description": "Registers the item with KRA so it can be sold. The body is optional. If KRA rejects the item, or it is missing something, the response is a `422` that includes the item so you can see `needs` and `registrationStatus`.\n\nRequired scope: `catalog:write`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The item id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterItemRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "The item, now `REGISTERED`.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "item": {
                          "$ref": "#/components/schemas/Item"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "item": {
                      "id": "itm_example_1",
                      "externalId": "SKU-1042",
                      "name": "500ml Cooking Oil",
                      "sku": "COOK-OIL-500",
                      "taxCategory": "VAT_STANDARD",
                      "taxTypeCode": "B",
                      "productTypeCode": "2",
                      "classificationCode": "50150000",
                      "unitCode": "U",
                      "packagingUnitCode": "NT",
                      "unitPrice": 3500,
                      "stockTracked": true,
                      "registrationStatus": "PENDING",
                      "needs": {
                        "productType": false,
                        "classificationMapping": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "KRA did not register the item, or the item is not ready to be registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "item_incomplete": {
                    "summary": "item_incomplete",
                    "value": {
                      "error": {
                        "code": "item_incomplete",
                        "message": "This item cannot be registered yet. See item.needs for what is missing, add it with POST /v1/items, then register again.",
                        "item": {
                          "id": "itm_example_1",
                          "externalId": "SKU-1042",
                          "name": "500ml Cooking Oil",
                          "sku": "COOK-OIL-500",
                          "taxCategory": "VAT_STANDARD",
                          "taxTypeCode": "B",
                          "productTypeCode": "2",
                          "classificationCode": null,
                          "unitCode": "U",
                          "packagingUnitCode": "NT",
                          "unitPrice": 3500,
                          "stockTracked": true,
                          "registrationStatus": "PENDING",
                          "needs": {
                            "productType": false,
                            "classificationMapping": true
                          }
                        }
                      }
                    }
                  },
                  "kra_rejected": {
                    "summary": "kra_rejected",
                    "value": {
                      "error": {
                        "code": "kra_rejected",
                        "message": "The KRA reason for the rejection.",
                        "item": {
                          "id": "itm_example_1",
                          "externalId": "SKU-1042",
                          "name": "500ml Cooking Oil",
                          "sku": "COOK-OIL-500",
                          "taxCategory": "VAT_STANDARD",
                          "taxTypeCode": "B",
                          "productTypeCode": "2",
                          "classificationCode": "50150000",
                          "unitCode": "U",
                          "packagingUnitCode": "NT",
                          "unitPrice": 3500,
                          "stockTracked": true,
                          "registrationStatus": "PENDING",
                          "needs": {
                            "productType": false,
                            "classificationMapping": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/stock/adjustments": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "adjustStock",
        "summary": "Adjust stock",
        "description": "Adds or deducts stock for an item at a branch and reports the movement to KRA. Each call is a separate movement; it is not de-duplicated. The call returns `201`.\n\nRequired scope: `stock:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockAdjustmentRequest"
              },
              "examples": {
                "opening": {
                  "summary": "Opening stock",
                  "value": {
                    "itemId": "itm_example_1",
                    "action": "ADD",
                    "quantity": 100,
                    "unitPrice": 2800,
                    "referenceId": "OPENING-2026-10"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The movement was recorded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string"
                        },
                        "branchId": {
                          "type": "string"
                        },
                        "movementId": {
                          "type": "string"
                        },
                        "quantityOnHand": {
                          "type": "number"
                        },
                        "etims": {
                          "type": "object",
                          "properties": {
                            "stockIo": {
                              "$ref": "#/components/schemas/PushStatus"
                            },
                            "stockMaster": {
                              "$ref": "#/components/schemas/PushStatus"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "itemId": "itm_example_1",
                    "branchId": "br_example_1",
                    "movementId": "mov_example_1",
                    "quantityOnHand": 100,
                    "etims": {
                      "stockIo": {
                        "status": "ok"
                      },
                      "stockMaster": {
                        "status": "ok"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/stock/transfers": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "transferStock",
        "summary": "Transfer stock",
        "description": "Moves stock of one item between two branches of the business. The call returns `201`.\n\nRequired scope: `stock:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockTransferRequest"
              },
              "examples": {
                "transfer": {
                  "summary": "Move 10 units",
                  "value": {
                    "itemId": "itm_example_1",
                    "fromBranchId": "br_example_1",
                    "toBranchId": "br_example_2",
                    "quantity": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The transfer was recorded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string"
                        },
                        "fromBranchId": {
                          "type": "string"
                        },
                        "toBranchId": {
                          "type": "string"
                        },
                        "referenceId": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "from": {
                          "type": "object",
                          "properties": {
                            "quantityOnHand": {
                              "type": "number"
                            }
                          }
                        },
                        "to": {
                          "type": "object",
                          "properties": {
                            "quantityOnHand": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "itemId": "itm_example_1",
                    "fromBranchId": "br_example_1",
                    "toBranchId": "br_example_2",
                    "referenceId": "transfer_example_1",
                    "from": {
                      "quantityOnHand": 90
                    },
                    "to": {
                      "quantityOnHand": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sales": {
      "post": {
        "tags": [
          "Sales"
        ],
        "operationId": "createSale",
        "summary": "Issue a sale",
        "description": "Validates the sale, submits it to KRA and returns the signed receipt. Prices are **tax inclusive**: the VAT split is worked out per line from the item's tax type, never from the request.\n\nThe status code tells you where the sale stands: `201` accepted by KRA, `202` still in flight (poll `GET /v1/sales/{id}`), `422` rejected or failed. Repeating the request with the same `Idempotency-Key` returns `200` with `Idempotent-Replayed: true` and files nothing new.\n\nRequired scope: `sales:write`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleRequest"
              },
              "examples": {
                "simple": {
                  "summary": "One line, with a buyer",
                  "value": {
                    "traderInvoiceNumber": "INV-2026-0001",
                    "saleDate": "2026-10-02",
                    "lines": [
                      {
                        "itemId": "itm_example_1",
                        "quantity": 2,
                        "unitPrice": 3500
                      }
                    ],
                    "customer": {
                      "name": "Example Customer Ltd",
                      "pin": "P000000000X"
                    },
                    "paymentTypeCode": "01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "KRA accepted the sale.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_1",
                      "type": "sale",
                      "status": "completed",
                      "traderInvoiceNumber": "INV-2026-0001",
                      "saleDate": "2026-10-02",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": 2,
                          "unitPrice": 3500,
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": 7000,
                        "taxableAmount": 6034.48,
                        "taxAmount": 965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/12 NS",
                        "receiptNumber": 12,
                        "receiptLabel": "NS",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "12",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": null
                      },
                      "originalSaleId": null,
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "A repeat of an earlier request. The original sale is returned and nothing is filed again.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_1",
                      "type": "sale",
                      "status": "completed",
                      "traderInvoiceNumber": "INV-2026-0001",
                      "saleDate": "2026-10-02",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": 2,
                          "unitPrice": 3500,
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": 7000,
                        "taxableAmount": 6034.48,
                        "taxAmount": 965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/12 NS",
                        "receiptNumber": 12,
                        "receiptLabel": "NS",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "12",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": null
                      },
                      "originalSaleId": null,
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "The sale has not reached a result yet. Poll `GET /v1/sales/{id}` or wait for the callback.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_1",
                      "type": "sale",
                      "status": "retrying",
                      "traderInvoiceNumber": "INV-2026-0001",
                      "saleDate": "2026-10-02",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": 2,
                          "unitPrice": 3500,
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": 7000,
                        "taxableAmount": 6034.48,
                        "taxAmount": 965.52
                      },
                      "receipt": null,
                      "originalSaleId": null,
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request conflicts with an existing document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "summary": "conflict",
                    "value": {
                      "error": {
                        "code": "conflict",
                        "message": "A sale with traderInvoiceNumber INV-2026-0001 already exists. Use a new number, or repeat the original request with its original Idempotency-Key."
                      }
                    }
                  },
                  "insufficient_stock": {
                    "summary": "insufficient_stock",
                    "value": {
                      "error": {
                        "code": "insufficient_stock",
                        "message": "Insufficient stock for the item.",
                        "sale": {
                          "id": "sale_example_3",
                          "status": "pending"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The document was not accepted by KRA, or could not be submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "error": {
                        "code": "validation_failed",
                        "message": "The document failed validation.",
                        "errors": [],
                        "sale": {
                          "id": "sale_example_3",
                          "status": "pending"
                        }
                      }
                    }
                  },
                  "item_not_registered": {
                    "summary": "item_not_registered",
                    "value": {
                      "error": {
                        "code": "item_not_registered",
                        "message": "The item is not registered with KRA yet. Register the item with KRA (POST /v1/items/{id}/register), then POST /v1/sales/{id}/retry.",
                        "sale": {
                          "id": "sale_example_3",
                          "status": "pending"
                        }
                      }
                    }
                  },
                  "kra_rejected": {
                    "summary": "kra_rejected",
                    "value": {
                      "error": {
                        "code": "kra_rejected",
                        "message": "The KRA reason for the rejection.",
                        "sale": {
                          "id": "sale_example_3",
                          "status": "failed"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Sales"
        ],
        "operationId": "listSales",
        "summary": "List sales",
        "description": "Lists sales and credit notes, newest first, a page at a time. Credit notes have `type: \"credit_note\"`.\n\nRequired scope: `sales:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of sales.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sales": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Sale"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "example": {
                  "data": {
                    "sales": [
                      {
                        "id": "sale_example_1",
                        "type": "sale",
                        "status": "completed",
                        "traderInvoiceNumber": "INV-2026-0001",
                        "saleDate": "2026-10-02",
                        "paymentTypeCode": "01",
                        "customer": {
                          "name": "Example Customer Ltd",
                          "pin": "P000000000X",
                          "phone": null,
                          "email": null
                        },
                        "lines": [
                          {
                            "id": "line_example_1",
                            "itemId": "itm_example_1",
                            "name": "500ml Cooking Oil",
                            "description": "500ml Cooking Oil",
                            "quantity": 2,
                            "unitPrice": 3500,
                            "total": 7000,
                            "taxableAmount": 6034.48,
                            "taxAmount": 965.52,
                            "taxRate": 16,
                            "taxTypeCode": "B"
                          }
                        ],
                        "totals": {
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52
                        },
                        "receipt": {
                          "cuInvoiceNo": "KRACU0000000000/12 NS",
                          "receiptNumber": 12,
                          "receiptLabel": "NS",
                          "scuId": "KRACU0000000000",
                          "scuDate": "02/10/2026",
                          "scuTime": "10:15:30",
                          "totalReceiptCounter": "12",
                          "signature": "AAAA-BBBB-CCCC",
                          "internalData": "DDDD-EEEE-FFFF",
                          "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                          "originalCuInvoiceNo": null
                        },
                        "originalSaleId": null,
                        "error": null,
                        "callback": null
                      }
                    ]
                  },
                  "pagination": {
                    "nextCursor": null,
                    "pageSize": 20
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sales/{id}": {
      "get": {
        "tags": [
          "Sales"
        ],
        "operationId": "getSale",
        "summary": "Get a sale",
        "description": "Returns one sale or credit note, including the state of its result callback.\n\nRequired scope: `sales:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SaleId"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The sale.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_1",
                      "type": "sale",
                      "status": "completed",
                      "traderInvoiceNumber": "INV-2026-0001",
                      "saleDate": "2026-10-02",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": 2,
                          "unitPrice": 3500,
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": 7000,
                        "taxableAmount": 6034.48,
                        "taxAmount": 965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/12 NS",
                        "receiptNumber": 12,
                        "receiptLabel": "NS",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "12",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": null
                      },
                      "originalSaleId": null,
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sales/{id}/receipt": {
      "get": {
        "tags": [
          "Sales"
        ],
        "operationId": "getSaleReceipt",
        "summary": "Download the receipt",
        "description": "Returns the KRA receipt as a PDF. It is only available once KRA has accepted the document; before that the call is a `404`. Pass `copy=true` for a customer copy marked COPY. The response is a file, so the playground cannot show it: use `curl -o receipt.pdf`.\n\nRequired scope: `sales:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SaleId"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "copy",
            "in": "query",
            "required": false,
            "description": "Send `true` to get a copy marked COPY. Any other value gives the original.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The receipt PDF.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Content-Disposition": {
                "description": "`attachment; filename=\"receipt-<id>.pdf\"`, or `receipt-copy-<id>.pdf` for a copy.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sales/{id}/retry": {
      "post": {
        "tags": [
          "Sales"
        ],
        "operationId": "retrySale",
        "summary": "Retry a sale",
        "description": "Submits a sale or credit note again when it did not reach KRA, or KRA rejected it, for example after you registered a missing item. There is no request body. If it fails again the response is a `422` `kra_rejected`.\n\nRequired scope: `sales:write`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SaleId"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The document after the retry.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_1",
                      "type": "sale",
                      "status": "completed",
                      "traderInvoiceNumber": "INV-2026-0001",
                      "saleDate": "2026-10-02",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": 2,
                          "unitPrice": 3500,
                          "total": 7000,
                          "taxableAmount": 6034.48,
                          "taxAmount": 965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": 7000,
                        "taxableAmount": 6034.48,
                        "taxAmount": 965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/12 NS",
                        "receiptNumber": 12,
                        "receiptLabel": "NS",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "12",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": null
                      },
                      "originalSaleId": null,
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "KRA rejected the document again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "kra_rejected": {
                    "summary": "kra_rejected",
                    "value": {
                      "error": {
                        "code": "kra_rejected",
                        "message": "The KRA reason for the rejection.",
                        "sale": {
                          "id": "sale_example_3",
                          "status": "failed"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/sales/{id}/callback/resend": {
      "post": {
        "tags": [
          "Sales"
        ],
        "operationId": "resendCallback",
        "summary": "Resend the result callback",
        "description": "Delivers the latest result of this sale to its `callbackUrl` once, now. Use it when your endpoint was down for longer than the automatic retries last. The response says how the attempt went. It is a `404` if the sale was created without a `callbackUrl` and a `409` if the sale has no result yet.\n\nRequired scope: `sales:write`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SaleId"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The delivery state after the attempt.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "callback": {
                          "$ref": "#/components/schemas/Callback"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "callback": {
                      "url": "https://example.com/hooks/sync2books",
                      "status": "delivered",
                      "event": "sale.completed",
                      "attempts": 1,
                      "lastAttemptAt": "2026-10-02T10:16:00.000Z",
                      "lastResponseStatus": 200,
                      "lastError": null,
                      "deliveredAt": "2026-10-02T10:16:00.000Z",
                      "nextAttemptAt": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The sale has no result from KRA yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "conflict": {
                    "summary": "conflict",
                    "value": {
                      "error": {
                        "code": "conflict",
                        "message": "This sale has no result from KRA yet; its callback is sent when it does."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/credit-notes": {
      "post": {
        "tags": [
          "Credit notes"
        ],
        "operationId": "createCreditNote",
        "summary": "Issue a credit note",
        "description": "Reverses an accepted sale **in full**. The buyer and lines are copied from the sale, so you send only the sale id, your own number and a return date. A sale can be credited once. The status codes work as for `POST /v1/sales`: `201` accepted, `202` in flight, `422` rejected, and `200` with `Idempotent-Replayed: true` for a repeated request.\n\nRequired scope: `sales:write`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditNoteRequest"
              },
              "examples": {
                "refund": {
                  "summary": "Refund a sale",
                  "value": {
                    "traderInvoiceNumber": "CN-2026-0001",
                    "returnDate": "2026-10-03",
                    "saleId": "sale_example_1",
                    "reason": "06"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "KRA accepted the credit note. The response key is `sale`, with `type: \"credit_note\"`.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_2",
                      "type": "credit_note",
                      "status": "completed",
                      "traderInvoiceNumber": "CN-2026-0001",
                      "saleDate": "2026-10-03",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": -2,
                          "unitPrice": 3500,
                          "total": -7000,
                          "taxableAmount": -6034.48,
                          "taxAmount": -965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": -7000,
                        "taxableAmount": -6034.48,
                        "taxAmount": -965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/13 NC",
                        "receiptNumber": 13,
                        "receiptLabel": "NC",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "13",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": "KRACU0000000000/12 NS"
                      },
                      "originalSaleId": "sale_example_1",
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "A repeat of an earlier request. The original credit note is returned and nothing is filed again.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Idempotent-Replayed": {
                "$ref": "#/components/headers/IdempotentReplayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_2",
                      "type": "credit_note",
                      "status": "completed",
                      "traderInvoiceNumber": "CN-2026-0001",
                      "saleDate": "2026-10-03",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": -2,
                          "unitPrice": 3500,
                          "total": -7000,
                          "taxableAmount": -6034.48,
                          "taxAmount": -965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": -7000,
                        "taxableAmount": -6034.48,
                        "taxAmount": -965.52
                      },
                      "receipt": {
                        "cuInvoiceNo": "KRACU0000000000/13 NC",
                        "receiptNumber": 13,
                        "receiptLabel": "NC",
                        "scuId": "KRACU0000000000",
                        "scuDate": "02/10/2026",
                        "scuTime": "10:15:30",
                        "totalReceiptCounter": "13",
                        "signature": "AAAA-BBBB-CCCC",
                        "internalData": "DDDD-EEEE-FFFF",
                        "verificationUrl": "https://etims-verify.example/receipt?id=EXAMPLE",
                        "originalCuInvoiceNo": "KRACU0000000000/12 NS"
                      },
                      "originalSaleId": "sale_example_1",
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "The credit note has not reached a result yet.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "sale": {
                          "$ref": "#/components/schemas/Sale"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "sale": {
                      "id": "sale_example_2",
                      "type": "credit_note",
                      "status": "retrying",
                      "traderInvoiceNumber": "CN-2026-0001",
                      "saleDate": "2026-10-03",
                      "paymentTypeCode": "01",
                      "customer": {
                        "name": "Example Customer Ltd",
                        "pin": "P000000000X",
                        "phone": null,
                        "email": null
                      },
                      "lines": [
                        {
                          "id": "line_example_1",
                          "itemId": "itm_example_1",
                          "name": "500ml Cooking Oil",
                          "description": "500ml Cooking Oil",
                          "quantity": -2,
                          "unitPrice": 3500,
                          "total": -7000,
                          "taxableAmount": -6034.48,
                          "taxAmount": -965.52,
                          "taxRate": 16,
                          "taxTypeCode": "B"
                        }
                      ],
                      "totals": {
                        "total": -7000,
                        "taxableAmount": -6034.48,
                        "taxAmount": -965.52
                      },
                      "receipt": null,
                      "originalSaleId": "sale_example_1",
                      "error": null,
                      "callback": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The request conflicts with an existing document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "already_credited": {
                    "summary": "already_credited",
                    "value": {
                      "error": {
                        "code": "already_credited",
                        "message": "This sale has already been credited by credit note CN-2026-0001. A credit note reverses a sale in full, so it can only be issued once.",
                        "creditNoteId": "sale_example_2"
                      }
                    }
                  },
                  "credit_note_in_progress": {
                    "summary": "credit_note_in_progress",
                    "value": {
                      "error": {
                        "code": "credit_note_in_progress",
                        "message": "Credit note CN-2026-0001 for this sale has not reached a result from KRA yet. Wait for it, or re-drive it with POST /v1/sales/{id}/retry, instead of issuing another.",
                        "creditNoteId": "sale_example_2"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The document was not accepted by KRA, or could not be submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_a_sale": {
                    "summary": "not_a_sale",
                    "value": {
                      "error": {
                        "code": "not_a_sale",
                        "message": "A credit note can only reverse a sale, not another credit note."
                      }
                    }
                  },
                  "sale_not_accepted": {
                    "summary": "sale_not_accepted",
                    "value": {
                      "error": {
                        "code": "sale_not_accepted",
                        "message": "Only a sale KRA has accepted can be credited. Retry or fix the sale first."
                      }
                    }
                  },
                  "kra_rejected": {
                    "summary": "kra_rejected",
                    "value": {
                      "error": {
                        "code": "kra_rejected",
                        "message": "The KRA reason for the rejection.",
                        "sale": {
                          "id": "sale_example_2",
                          "type": "credit_note",
                          "status": "failed"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/purchases/pull": {
      "post": {
        "tags": [
          "Purchases"
        ],
        "operationId": "pullPurchases",
        "summary": "Pull supplier invoices from KRA",
        "description": "Fetches the supplier invoices KRA holds for the business and stores them, branch by branch. The response says how each branch went. Pulling again never changes an invoice's review status. If KRA returns nothing for every branch (all of them fail) the call is a `502` that carries the same per-branch report. The body is optional.\n\nRequired scope: `purchases:read`.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullPurchasesRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "KRA answered for at least one branch.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "fetched": {
                          "type": "integer"
                        },
                        "branches": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PurchasePullBranch"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "fetched": 3,
                    "branches": [
                      {
                        "branchId": "br_example_1",
                        "kraBhfId": "00",
                        "displayName": "Head Office",
                        "status": "ok",
                        "fetched": 3,
                        "error": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "KRA did not return purchases for any branch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "upstream_error": {
                    "summary": "upstream_error",
                    "value": {
                      "error": {
                        "code": "upstream_error",
                        "message": "KRA did not return purchases for any branch. Try again shortly.",
                        "branches": [
                          {
                            "branchId": "br_example_1",
                            "kraBhfId": "00",
                            "displayName": "Head Office",
                            "status": "failed",
                            "fetched": 0,
                            "error": "No response from KRA"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/purchases": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "operationId": "listPurchases",
        "summary": "List supplier invoices",
        "description": "Lists the supplier invoices stored for the business, newest first, a page at a time. Call `POST /v1/purchases/pull` first to fetch the latest from KRA. This API only reads them: confirming or rejecting an invoice is done in the compliance dashboard.\n\nRequired scope: `purchases:read`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only invoices in this review status.",
            "schema": {
              "type": "string",
              "enum": [
                "pulled",
                "pending_review",
                "confirmed",
                "rejected"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of supplier invoices.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "purchases": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Purchase"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "example": {
                  "data": {
                    "purchases": [
                      {
                        "id": "pur_example_1",
                        "status": "pulled",
                        "supplier": {
                          "name": "Example Supplier Ltd",
                          "pin": "P000000001Y"
                        },
                        "supplierInvoiceNumber": "1001",
                        "invoiceDate": "2026-09-28",
                        "branch": "Head Office",
                        "totals": {
                          "subtotal": 8620.69,
                          "vat": 1379.31,
                          "total": 10000
                        },
                        "lines": [
                          {
                            "description": "Cooking oil, 500ml",
                            "hsCode": null,
                            "quantity": 20,
                            "unitPrice": 431.03,
                            "taxRate": 16,
                            "taxAmount": 1379.31,
                            "total": 10000
                          }
                        ],
                        "confirmationError": null
                      }
                    ]
                  },
                  "pagination": {
                    "nextCursor": null,
                    "pageSize": 20
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/purchases/{id}": {
      "get": {
        "tags": [
          "Purchases"
        ],
        "operationId": "getPurchase",
        "summary": "Get a supplier invoice",
        "description": "Returns one stored supplier invoice.\n\nRequired scope: `purchases:read`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The supplier invoice id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "responses": {
          "200": {
            "description": "The supplier invoice.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "purchase": {
                          "$ref": "#/components/schemas/Purchase"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "purchase": {
                      "id": "pur_example_1",
                      "status": "pulled",
                      "supplier": {
                        "name": "Example Supplier Ltd",
                        "pin": "P000000001Y"
                      },
                      "supplierInvoiceNumber": "1001",
                      "invoiceDate": "2026-09-28",
                      "branch": "Head Office",
                      "totals": {
                        "subtotal": 8620.69,
                        "vat": 1379.31,
                        "total": 10000
                      },
                      "lines": [
                        {
                          "description": "Cooking oil, 500ml",
                          "hsCode": null,
                          "quantity": 20,
                          "unitPrice": 431.03,
                          "taxRate": 16,
                          "taxAmount": 1379.31,
                          "total": 10000
                        }
                      ],
                      "confirmationError": null
                    }
                  }
                }
              }
            }
          },
          "400": {
[...]
